.board {
    position: relative;
    width: 500px;
    height: 350px;
    margin: 15px auto;
    padding: 5px;
    background-color: bisque;
}

.el {
    display: flex;
    position: absolute;
    width: 80px;
    height: 25px;
    padding: 2px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lavenderblush;
}

.el input {
    width: 55px;
}
.el button {
    width: 20px;
    padding: 0;
}